// LinerNotes Application:  Home Page SCSS partial

// Set an image as the background for the jumbotron *******************************
// Good reference here: http://stackoverflow.com/questions/20914711/bootstrap-3-jumbotron-background-image-effect
.home-jumbo {
	background : 		url('../images/cd_stack_left2.jpg');
	background-repeat :	no-repeat;
	margin :			0;
	width : 			100%;
	height:				500px;
}