// LinerNotes Application:  Layouts SCSS partial
// General layout specification (navigation, body, footer...)

// Body **************************************************************************
body {
	background-color: $color-background;
}

// Navigation Bar ******************************************************************
.navbar{
	margin :			0;
	border-radius:		0;
}

// hr tag **************************************************************************
hr { 
    display: block;
    margin-top: 1.0em;
    margin-bottom: 0.5em;
    margin-left: 2px;
    margin-right: 2px;
    border-style: inset;
    border-width: 1px;
}

// Footer **************************************************************************
.footer {
  background-color: #1b1b1b;
  background-image: -moz-linear-gradient(top, #222222, #111111);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));
  background-image: -webkit-linear-gradient(top, #222222, #111111);
  background-image: -o-linear-gradient(top, #222222, #111111);
  background-image: linear-gradient(to bottom, #222222, #111111);
  background-repeat: repeat-x;
  border-color: #252525;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);
  color: #ffffff;
}