$color-primary 	: rgba(3, 117, 124, 1); // Dark Teal
$color-secondary : rgba(32, 32, 34, 1); // Almost Black
$color-accent: rgba(0, 188, 202, 1); // Bright Teal
$color-background: rgba(136, 135, 135, 1); // Gray